nav {
	background:#edd9c0; 
	text-align:35px;
	font-weight:none;
	font-size: 40px;
	 
}
nav ul li{
	padding-right:12px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #161414;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}